{% extends "base.html.twig" %}

{% block title %}BACK OFFICE | Gestion des membres
{% endblock %}

{% block body %}

	<div class="container">

		<h1 class="display-4 text-center my-4">BACK OFFICE | Gestion des membres</h1>

		{% for messages in app.flashes('success') %}

			<div class="bg-success text-white text-center col-md-3 mx-auto rounded p-3">
				{{ messages }}
			</div>

		{% endfor %}

		<table class="table table-bordered text-center">
			<tr>
				{% for data in colonnes %}

					{% if data != 'password' %}

						<th>{{ data|upper }}</th>

					{% endif %}

				{% endfor %}

				<th>EDIT</th>
				<th>SUPPR</th>

			</tr>

			{% for data in users %}

				<tr>
					<td>{{ data.id }}</td>
					<td>{{ data.email }}</td>
					<td>{{ data.username }}</td>
					<td>{{ data.roles[0] }}</td>

					<td>
						<a href="{{ path('admin_edit_user', {'id': data.id}) }}" class="btn btn-dark text-white">
							<i class="fas fa-edit fa-1x"></i>
						</a>
					</td>

					<td>
						<a href="{{ path('admin_delete_user', {'id': data.id}) }}" class="btn btn-danger text-white">
							<i class="fas fa-trash fa-1x"></i>
						</a>
					</td>

				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock %}
