{% extends 'base.html.twig' %}

{% block title %}BACK OFFICE | Création d'un nouvel article
{% endblock %}

{% block body %}

	<h1 class="display-4 text-center my-4">
		BACK OFFICE |

		{% if editMode %}

			Modification de l'article

		{% else %}

			Création d'un article

		{% endif %}
		<small>
			<a href="{{ path('admin_articles') }}" class="btn btn-dark btn-sm">Retour</a>
		</small>

	</h1>

	{{ form_start(formArticle, {'attr': {'class': 'col-md-4 mx-auto'} }) }}

	{{ form_row(formArticle.title, {'label': "Titre de l'article"}) }}

	{{ form_row(formArticle.category, {'label': "Catégorie"}) }}

	{{ form_row(formArticle.content, {'label':"Contenu de l'article", 'attr': {"rows": 15}}) }}

	{{ form_row(formArticle.image) }}

	<button type="submit" class="btn btn-dark">
		{% if editMode %}

			Modifier l'article

		{% else %}

			Enregistrer l'article

		{% endif %}
	</button>

	{{ form_end(formArticle) }}


{% endblock %}
